* {
  margin: 0;
  padding: 0;
}
  
#header {
  background-color: lightpink;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#difficulty{
  background-color:cornsilk;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#diffi{
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#diftitle{
  width: 15vh;
  display: flex;
  justify-content: center;
}

#easy{
  height: 5vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#medium{
  height: 5vh;
  width: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hard{
  height: 5vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#empty{
  height: 0vh;
}

#message{
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tries{
  height: 15vh;
  display: flex;
  flex-direction: column;
}

#new{
  height: 5vh;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-clue{
  background-color: cyan;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nories{
  background-color: cyan;
  height: 5vh;
  display: flex;
  justify-content: center;
  text-align: right;
  align-items: center;
}

#container{
  height: 70vh;
  display: flex;
}

#container1 {
  background-color: black;
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#container2 {
  background-color: black;
  height: 70vh;
  width:50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
}
  
.tile {
  height: 150px;
  width: 150px;
  background-color: aliceblue;
}

@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
    
  #header {
    background-color: lightpink;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #difficulty{
    background-color:cornsilk;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #diftitle{
    width: 15vh;
    display: flex;
    justify-content: center;
  }

  #easy{
    height: 5vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #medium{
    height: 5vh;
    width: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hard{
    height: 5vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #empty{
    height: 5vh;
    width: 60vw;
  }

  #message{
    height: 5vh;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #tries{
    height: 5vh;
    display: flex;
    flex-direction: row;
  }
  
  #new{
    height: 5vh;
    background-color: coral;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #header-clue{
    background-color: cyan;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #nories{
    background-color: cyan;
    width:20vw;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
  }
  
  #container{
    height: 75vh;
    display: flex;
    flex-direction: column;
  }

  #container1 {
    background-color: black;
    height: 37.5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #container2 {
    background-color: black;
    height: 37.5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
  }
    
  .tile {
    height: 150px;
    width: 150px;
    background-color: aliceblue;
  }  
}